<section class="container">
    <section class="container-holder">
        <h2 class="main-title title">Контакти</h2>
        <section class="items-container">
            <article class="contact-container">
                <section class="row">
                    <section class="col-12">
                        <h5 class="contact-title">Отдел клиенти</h5>
                    </section>
                    <section class="col-6 col-lg-12 contact-block-item">
                        <dl>
                            <dt>Мейл:</dt>
                            <dd><a href="mailto:support@animalic.com">support@animalic.com</a></dd>
                            <dt>Телефон:</dt>
                            <dd><a href="tel:+359888888888">+359888888888</a></dd>
                        </dl>
                    </section>
                </section>
            </article>
            <article class="col-lg-2 col-xl-5"></article>
            <article class="col-lg-4 col-xl-4">
                <form id="contact-form" class="contact-form">
                    <h5 class="form-title title">Изпратете ни съобщение</h5>
                    <section class="input-holder">
                        <input type="text" placeholder="име">
                    </section>
                    <section class="input-holder">
                        <input type="email" placeholder="мейл">
                    </section>
                    <section class="input-holder pt-4 pt-lg-3">
                        <textarea name="message" rows="6" placeholder="текст"></textarea>
                    </section>
                    <section class="form-btn">
                        <a class="button">изпрати</a>
                    </section>
                </form>
            </article>
        </section>
    </section>
</section>
<app-team></app-team>